.form-container, .loading-container {
  display: flex;
  justify-content: center;
}

.loading-container {
  padding-top: 3em;
}

.form {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  flex-basis: 50%;
}

.level-input {
  flex-basis: 15%;
}
